@layer utilities {
  .scrollbar-custom {
    -webkit-scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
  }

  .scrollbar-custom::-webkit-scrollbar {
      height: 0;
      transition: height 0.3s ease;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
      background: #666;
      border-radius: 10px;
      transition: background 0.3s ease;
  }

  .scrollbar-custom:hover::-webkit-scrollbar {
      height: 6px;
  }

  .scrollbar-custom:hover::-webkit-scrollbar-track {
      height: 6px;
      background: #DDD6D7;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background: #000;
  }
}